.custom-color {
  background: linear-gradient(#e66465, #9198e5);
  font-weight: bolder;
}

body {
  background-color: #ffe9ff;
}
.fa-search {
  color: black;
}
.custom-bg-color {
  background-color: #9198e5;
}
